{% extends 'index.html' %}

{% block head_link %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Oleaceae platform</title>
    <link href="../../static/vendor/css/style.css" rel="stylesheet">
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/css/modern-business.css" rel="stylesheet">
    <link rel="icon" href="../../static/image/ico.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../../static/vendor/css/home.css" type="text/css">
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/css/modern-business.css" rel="stylesheet">
    <script src="../../static/js/jquery-3.5.1.js"></script>
    <script src="../../static/js/jquery.dataTables.min.js"></script>
    <link href="../../static/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/slick-theme.css"/>
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../static/css/style.css" rel="stylesheet"/>
    <link href="../../static/css/responsive.css" rel="stylesheet"/>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
{% endblock %}


{% block body_index %}
    <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;"><b>Resistence genes</b><i></i>
    </h3>

    <div class="row" style="">
        <h6 class="col-md-12" style="font-family:'Arial',sans-serif;color:black;text-align:justify">
        Plant disease resistance genes (R-genes) play a key role in recognizing proteins expressed by specific avirulence (Avr) genes of pathogens. R-genes originate from a phylogenetically ancient form of immunity that is common to plants and animals. However, the rapid evolution of plant immunity systems has led to enormous gene diversification. Although little is known about these agriculturally important genes, some fundamental genomic features have already been described.
        </h6>
        <hr width="100%" style="border: dotted 2px">
    </div>

    <div id="choose_module">
        <!-- 1-3 -->
        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Fraxinus pennsylvanica</i></p>
                <a href="{% url "ResistencegenesRLP" "Fpe" %}"><img src="../../static/image/Fpe.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 6 </p>
                <a href="{% url "ResistencegenesRLP" "Fpe" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Fpe.cds.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>CDS</b></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Fpe.pep.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>PEP</b></a>
            </div>
        </div>

        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Jasminum sambac</i></p>
                <a href="{% url "ResistencegenesRLP" "Jsa" %}"><img src="../../static/image/Jsa.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : null </p>
                <a href="{% url "ResistencegenesRLP" "Jsa" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Jsa.cds.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>CDS</b></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Jsa.pep.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>PEP</b></a>
            </div>
        </div>

        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Olea europaea</i></p>
                <a href="{% url "ResistencegenesRLP" "Oeu" %}"><img src="../../static/image/Oeu.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 4 </p>
                <a href="{% url "ResistencegenesRLP" "Oeu" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Oeu.cds.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>CDS</b></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Oeu.pep.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>PEP</b></a>
            </div>
        </div>


        <!-- 4-6 -->
        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Syringa oblata</i></p>
                <a href="{% url "ResistencegenesRLP" "Sob" %}"><img src="../../static/image/Sob.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 7 </p>
                <a href="{% url "ResistencegenesRLP" "Sob" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Sob.cds.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>CDS</b></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="../../static/function_gene_cds_pep/ResistencegenesRLP_Sob.pep.txt" style="color:#b7ab25; font-size: 20px" target="_blank"><b>PEP</b></a>
            </div>
        </div>



{% endblock %}
