{% extends 'index.html' %}

{% block head_link %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Leguminosae platform</title>
    <link href="../../../static/vendor/css/style.css" rel="stylesheet">
    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/css/modern-business.css" rel="stylesheet">
    <link rel="icon" href="../../../static/image/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../../../static/vendor/css/home.css" type="text/css">
    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/css/modern-business.css" rel="stylesheet">
    <script src="../../../static/js/jquery-3.5.1.js"></script>
    <script src="../../../static/js/jquery.dataTables.min.js"></script>
    <link href="../../../static/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/slick-theme.css"/>
    <link href="../../../static/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../../static/css/style.css" rel="stylesheet"/>
    <link href="../../../static/css/responsive.css" rel="stylesheet"/>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
{% endblock %}


{% block body_index %}
    <h3 class="h3_1 h3_6" style="background-image:url(../../../static/image/shuye.png); font-family:'Arial',sans-serif;color:black;">Transposable elements<i></i>
    </h3>
    <div class="row" style="">
        <h5 class="col-md-8" style="font-family:'Arial',sans-serif;color:black;text-align:justify">
            &emsp;&emsp;Transposable elements (TEs): also known as jumping genes, are DNA sequences that can change their position in a cell. There are two types of transposons: type I transposons (Retrotransposon) and type II transposons (DNA transposons).
        <br>
    &emsp;&emsp;Type I transposons: DNA is used as a template and is transcribed into mRNA, which is then reverse transcribed into cDNA and inserted into a new position in the genome by the action of integrase. Type II transposon: The mechanism of transposition of type II transposon is called "cut-and-paste". The transposase cuts the TE from its original position in the genome and pastes it into other regions of the genome. The gaps formed by the cut are repaired by DNA.
        </h5>
        <div class="col-md-4">
            <img style="width: 100%" src="../../../static/image/TE_img.png" alt="">
        </div>
        <hr width="100%" style="border: dotted 2px">
    </div>

    <!-- choose module -->
    <div id="choose_module">
        <!-- 1-3 -->
        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Phaseolus vulgaris</i></p>
                <a href="{% url "TE" "Pvu" %}"><img src="../../../static/image/Pvu.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 708,692
 </p>
                <a href="{% url "TE" "Pvu" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Pvu.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>

        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Pisum sativum</i></p>
                <a href="{% url "TE" "Psa" %}"><img src="../../../static/image/Psa.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 3,859,738
 </p>
                <a href="{% url "TE" "Psa" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Psa.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>

        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Senna tora</i></p>
                <a href="{% url "TE" "Sto" %}"><img src="../../../static/image/Sto.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 949,959
 </p>
                <a href="{% url "TE" "Sto" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Sto.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>


        <!-- 4-6 -->
        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Spatholobus suberectus</i></p>
                <a href="{% url "TE" "Ssu" %}"><img src="../../../static/image/Ssu.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 1,732,589
 </p>
                <a href="{% url "TE" "Ssu" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Ssu.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>

        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Trifolium pratense</i></p>
                <a href="{% url "TE" "Tpr" %}"><img src="../../../static/image/Tpr.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 968,405
 </p>
                <a href="{% url "TE" "Tpr" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Tpr.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>

        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Trifolium subterranum</i></p>
                <a href="{% url "TE" "Tsu" %}"><img src="../../../static/image/Tsu.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 964,195
 </p>
                <a href="{% url "TE" "Tsu" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Tsu.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>

        <!-- 7-9 需要进行更改-->
        <div id="module_1">
            <div style="height: 380px">
                <p id='text_in_image'><i>Vigna radiata</i></p>
                <a href="{% url "TE" "Vra" %}"><img src="../../../static/image/Vra.png" alt="Homologues"></a>
                <p id='text_in_image' style="background: white; color:black"> Total : 750,776
 </p>
                <a href="{% url "TE" "Vra" %}" style="color:#00cd66; font-size: 20px"><b>more information</b></a><br>
                <a href="../../../static/TE_out_file/Vra.fasta.out" style="color:#b7ab25; font-size: 20px" target="_blank"><b>Repeat download</b></a>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{% url "TE_index_url1" %}">1</a></li>
            <li class="page-item"><a class="page-link" href="{% url "TE_index_url2" %}">2</a></li>
            <li class="page-item"><a class="page-link" href="{% url "TE_index_url3" %}">3</a></li>
            <li class="page-item">
                <a class="page-link" href="{% url "TE_index_url3" %}">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}
