{% extends 'index.html' %}


{% block body_index %}

<div class="row">
    <div class="col-12">
        <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;"><b>Identification of the genomic synteny ratios</b><i></i>
        </h3>
    </div>

    <h6 class="col-md-8" style="font-family:'Arial',sans-serif;color:black;text-align:justify">
	     
               According to the <a href="/tools/zu_ks_dotplot">BBK_Dotter</a> produced synteny dotplots, we identify the orthology ratios between the genomes.
          
    </h6>
        <div class="col-md-4">
            <img style="width: 100%" src="../../static/image/genomic_synteny_ratios.png" alt="">
        </div>
    <hr width="100%" style="border: dotted 2px">
</div>



{% endblock %}
