{% extends 'index.html' %}


{% block body_index %}

<div class="row">
    <div class="col-12">
        <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;"><b>Construct genomic synteny dotplots</b><i></i>
        </h3>
    </div>

    <h6 class="col-md-8" style="font-family:'Arial',sans-serif;color:black;text-align:justify">
          Construct genomic synteny dotplots, with the similarity <em>Ks</em> and Blast matches of syntenic gene pairs, the first step is to search for species dotplots on the platform. If there are no available species, you can use the method in the previous steps to draw <a href="/tools/zu_ks_dotplot">BBK_Dotter</a>.
        


    </h6>
        <div class="col-md-4">
            <img style="width: 100%" src="../../static/image/construct_genomic_synteny_dotplots.png" alt="">
        </div>
    <hr width="100%" style="border: dotted 2px">
</div>



{% endblock %}
