{% extends 'index.html' %}


{% block body_index %}

<div class="row">
    <div class="col-12">
        <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;"><b>Determine the event-related regions</b><i></i>
        </h3>
    </div>

    <h6 class="col-md-8" style="font-family:'Arial',sans-serif;color:black;text-align:justify">
          Determine the event-related regions (ERRs) based on the sequence similarity (<em>Ks</em>) index of syntenic blocks.
    </h6>
        <div class="col-md-4">
            <img style="width: 100%" src="../../static/image/case_ERR.png" alt="">
        </div>
    <hr width="100%" style="border: dotted 2px">
</div>



{% endblock %}
