<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Oleaceae platform</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modern-business.css" rel="stylesheet">
  <link rel="icon" href="static/image/ico.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/home.css" type="text/css">

  <!-- <link rel="prerender" href="colinearity.html"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
</head>


<body style="padding-top: 0px">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html">Oleaceae platform</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item navbar-brand">

        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- Tools -->
          <li class="nav-item dropdown" style="padding-right: 20px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
              <a class="dropdown-item" href="sequenceserver.html">Homology comparison</a>
              <a class="dropdown-item" href="sp_data.html">Species data</a>
            </div>
          </li>

          <!-- Collinear list -->
          <li class="nav-item dropdown" style="padding-right: 20px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Collinear list
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="http://47.92.161.27:8130/blast_match">Blast best match</a>
              <a class="dropdown-item" href="part_syntenic.html">part_syntenic</a>
              <a class="dropdown-item" href="all_syntenic.html">all_syntenic</a>
              <a class="dropdown-item" href="Polyploidization_subgenomes.html">Polyploidization_subgenomes</a>
            </div>
          </li>

          <!-- result_paper -->
          <li class="nav-item dropdown" style="padding-right: 20px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Result
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="local_dotplot.html">local_dotplot</a>
              <a class="dropdown-item" href="ks_re.html">ks_result</a>
              <a class="dropdown-item" href="homologous.html">Homologous_alignments</a>
              <a class="dropdown-item" href="retention.html">retention</a>
              <a class="dropdown-item" href="karyotyp.html">karyotype_video</a>
              <a class="dropdown-item" href="gene_family.html">Gene_family</a>
              <a class="dropdown-item" href="dotplot.html">Dotplot</a>
              <!-- <a class="dropdown-item" href="karyotyp.html">karyotype_video</a> -->
            </div>
          </li>

          <!-- Documentation -->
          <li class="nav-item" style="padding-right: 20px">
            <a class="nav-link" href="document.html" id="navbarDropdownPages" aria-haspopup="true" aria-expanded="false">
              Documentation
            </a>
          </li>

          <!-- Community -->
          <li class="nav-item" style="padding-right: 20px">
            <a class="nav-link" href="http://39.105.114.57:8401/" id="navbarDropdownPages" aria-haspopup="true" aria-expanded="false" target="_blank">
              Community
            </a>
          </li>

          <!-- Contact -->
          <li class="nav-item" style="padding-right: 20px">
            <a class="nav-link" href="contact.html" id="navbarDropdownPages" aria-haspopup="true" aria-expanded="false">
              Contact
            </a>
          </li>

        </ul>
      </div>
      </li>
    </div>
  </nav>


<div style="padding-top:40px"></div>
  <div class="container">

    <!-- all1 -->
    <div style="margin-top: 35px; margin-left: 730px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Step1.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- all2 -->
    <div style="margin-top: 120px; margin-left: 815px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Step2.html" target="_blank">Click Me!</a></button>
    </div>

    <!-- 秋海棠科1 -->
    <div style="margin-top: 160px; margin-left: 400px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Begoniaceae1.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- 秋海棠科2 -->
    <div style="margin-top: 260px; margin-left: 560px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Begoniaceae2.html" target="_blank">Click Me!</a></button>
    </div>

    <!-- 葫芦科 -->
    <div style="margin-top: 210px; margin-left: 980px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Cucurbitaceae.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- 南瓜属 -->
    <div style="margin-top: 320px; margin-left: 950px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Cucumis.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- 甜瓜属_冬瓜属 -->
    <div style="margin-top: 445px; margin-left: 580px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Melon_Benincasa.html" target="_blank">Click Me!</a></button>
    </div>

    <!-- cme -->
    <div style="margin-top: 720px; margin-left: 990px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Cme.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- bhi -->
    <div style="margin-top: 720px; margin-left: 845px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Bhi.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- cma -->
    <div style="margin-top: 720px; margin-left: 660px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Cma.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- bma -->
    <div style="margin-top: 720px; margin-left: 480px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Bma.html" target="_blank">Click Me!</a></button>
    </div>
    <!-- blo -->
    <div style="margin-top: 720px; margin-left: 290px;position: absolute; z-index: 12">
      <button type="button1"><a href="karyotype/Blo.html" target="_blank">Click Me!</a></button>
    </div>

    <img src="static/image/karyotyp.png" alt="" style="width: 100%; margin-bottom: 40px">
  </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="widget">
            <h5 class="widgetheading" style="color: #fff;">Our Contact</h5>
            <address style="color: #fff;">
                School of Life Sciences / Center for Genomics and Computational Biology, North China University of Science and Technology,
            </address>
            <p style="color: #fff;">
              <i class="icon-envelope-alt" style="color: #fff;"></i> Address info 21 Bohai Road,Caofeidian, Tangshan 063210, Hebei, China
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="widget">
            <h5 class="widgetheading" style="color: #fff;">Quick Links</h5>
            <ul class="link-list">
              <li><a href="https://www.ncbi.nlm.nih.gov/" target="_blank" style="color: #fff;">National Center for Biotechnology Information</a></li>
              <li><a href="http://pfam.xfam.org/" target="_blank" style="color: #fff;">Protein families database</a></li>
              <li><a href="https://swissmodel.expasy.org/" style="color: #fff;">SWISS-MODEL</a></li>
              <li><a href="https://www.embl.org/" target="_blank" style="color: #fff;">EuropeanMolecular Biology Laboratory</a></li>
              <li><a href="https://www.ddbj.nig.ac.jp/index-e.html" target="_blank" style="color: #fff;">DNA Data Bank of Japan</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=561cj3aw7q6&amp;m=1&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <link rel="prerender" href="colinearity.html">
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
