{% extends 'index.html' %}


{% block body_index %}
    <h3 class="h3_1" style="background-image:url(../static/image/ico.png)"><b>Jasmonic acid biosynthesis statistics</b><i></i></h3>

    <script type="text/javascript" src="../static/js/echarts.min.js"></script>


    <div id="container" style="height: 500px">
    </div>




    <script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    var option;

    var xAxisData = ["AOS","JAR1","KAT"];
    var data1 = [];
    var data2 = [];
    var data3 = [];
    var data4 = [];
	var data5 = [];
	var data6 = [];



    for (var i = 0; i < 12; i++) {
            // xAxisData.push('Class' + i);
            data1.push(4,4,9);
            data2.push(4,2,8);
            data3.push(3,4,13);
            data4.push(5,2,27);
			data5.push(5,2,4);
			data6.push(4,2,2);



    }

    var emphasisStyle = {
            itemStyle: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(0,0,0,0.3)'
            }
    };

    option = {
            legend: {
                    data: ['Fpe', 'Jsa', 'Oeu', 'Sob', 'Chu', 'Vvi'],
                    left: '10%'
            },
            brush: {
                    toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
                    xAxisIndex: 0
            },

            toolbox: {
                    feature: {
                            magicType: {
                                    type: ['stack', 'tiled']
                            },
                            dataView: {}
                    }
            },
            tooltip: {},

            color: ['#E673A0','#E64D77', '#35BAE6', '#2B7E99', '#992343', '#E6DD63', "#01BFBF", "#1C8FFF", "#FD8E63", "#CC9900", "#BCB66A"],
            xAxis: {
                    data: xAxisData,
                    name: 'gene family',
                    nameRotate: 30,
                    splitLine: {show: false},
                    splitArea: {show: false},
                    axisLabel: {fontStyle: 'italic'}
            },
            yAxis: {},
            grid: {
                    bottom: 100
            },
            series: [
                    {
                            name: 'Fpe',
                            type: 'bar',

                            emphasis: emphasisStyle,
                            data: data1
                    },
                    {
                            name: 'Jsa',
                            type: 'bar',

                            emphasis: emphasisStyle,
                            data: data2
                    },
                    {
                            name: 'Oeu',
                            type: 'bar',

                            emphasis: emphasisStyle,
                            data: data3
                    },
                    {
                            name: 'Sob',
                            type: 'bar',

                            emphasis: emphasisStyle,
                            data: data4
                    },
					{
                            name: 'Chu',
                            type: 'bar',

                            emphasis: emphasisStyle,
                            data: data5
                    },
					{
                            name: 'Vvi',
                            type: 'bar',

                            emphasis: emphasisStyle,
                            data: data6
                    }
            ]
    };

        option && myChart.setOption(option);
        myChart.on('click', function (params) {
                var name = params.name;
                if (name === "AOS") {window.location.href="/browse/Functional_genes/AOS/";}
                if (name === "JAR1") {window.location.href="/browse/Functional_genes/JAR1/";}
                if (name === "KAT") {window.location.href="/browse/Functional_genes/KAT/";}

            });

<!--    option && myChart.setOption(option);-->

<!--    myChart.on('brushSelected', renderBrushed);-->

<!--    function renderBrushed(params) {-->
<!--            var brushed = [];-->
<!--            var brushComponent = params.batch[0];-->

<!--            for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {-->
<!--                    var rawIndices = brushComponent.selected[sIdx].dataIndex;-->
<!--                    brushed.push('[Series ' + sIdx + '] ' + rawIndices.join(', '));-->
<!--            }-->

<!--            myChart.setOption({-->
<!--                    title: {-->
<!--                            backgroundColor: '#333',-->
<!--                            text: 'SELECTED DATA INDICES: \n' + brushed.join('\n'),-->
<!--                            bottom: 0,-->
<!--                            right:'10%',-->
<!--                            width: 100,-->
<!--                            textStyle: {-->
<!--                                    fontSize: 12,-->
<!--                                    color: '#fff'-->
<!--                            }-->
<!--                    }-->
<!--            });-->
<!--    }-->


    </script>

{% endblock %}