{% extends 'index.html' %}

{% block head_link %}
    <link rel="icon" href="../static/image/ico.png" type="image/x-icon" xmlns=""/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Oleaceae platform</title>
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/css/modern-business.css" rel="stylesheet">
    <link href="../static/vendor/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/slick-theme.css" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/responsive.css" rel="stylesheet" />

    <script type="text/javascript" src="../static/vendor/js/api.js"></script>
{% endblock %}


{% block body_index %}

    <h3 class="h3_1 h3_6" style="background-image:url(../static/image/ico.png)"><b>Economic value</b><i></i>
    </h3>

    <div class="row">
        <div class="col-3 bg-light">
            <!-- <div class="sticky-top"> -->
                <ol class="flex-column" style="font-style: italic;">
                    <li><a href="#Fpe">Fraxinus pennsylvanica</a></li>
                    <li><a href="#Jsa">Jasminum sambac</a></li>
                    <li><a href="#Oeu">Olea europaea</a></li>
                    <li><a href="#Sob">Syringa oblata</a></li>
                    <li><a href="#Fsu">Forsythia suspensa</a></li>
                    <li><a href="#Fex">Fraxinus excelsior</a></li>
                    <li><a href="#Ofr">Osmanthus fragrans</a></li>

                </ol>
            <!-- </div> -->
        </div>


        <div class="col-md-9">

           <h4 style="margin-bottom: 20px;" id="#Fpe"><b>Fraxinus pennsylvanica</b></h4>
            <p style="margin-left: 10px">The tree has a beautiful appearance. China has been introduced and cultivated for a long time, distributed throughout the country, often found in gardens and street trees.</p>
            <p>Reference: <a href="https://www.missouribotanicalgarden.org/PlantFinder/PlantFinderDetails.aspx?kempercode=a868">www.missouribotanicalgarden.org</a></p>
            <img src="../static/image/Fpe.png" alt="" style="width: 500px;height: 300px">

            <h4 style="margin-bottom: 20px;" id="Jsa"><b>Jasminum sambac</b></h4>
            <p style="margin-left: 10px">Jasmine is an evergreen shrub, which is a world famous flower with important ornamental, tea, medicinal and economic values. It is widely used in scenting Jasmine tea, processing perfume, essence, spices and drinks.</p>
            <p>Reference: <a href="https://www.gardenia.net/plant/jasminum-sambac-arabian-jasmine">www.gardenia.net</a></p>
            <img src="../static/image/Jsa.png" alt="" style="width: 500px;height: 300px">

            <h4 style="margin-bottom: 20px;" id="Oeu"><b>Olea europaea</b></h4>
            <p style="margin-left: 10px">Economic value of Olive Olive is an important woody oil tree species. Olive oil is an excellent edible oil that contains high calories and multiple vitamins, consisting of approximately 10% glycerol and 90% fatty acids. In addition, oil injection can be made in the pharmaceutical industry; Prepare topical ointments, especially for burns.</p>
            <p>Reference: <a href="https://www.gardenia.net/plant/olea-europaea">www.gardenia.net</a></p>
            <img src="../static/image/Oeu.png" alt="" style="width: 500px;height: 300px">

            <h4 style="margin-bottom: 20px;" id="Sob"><b>Syringa oblata</b></h4>
            <p style="margin-left: 10px">Syringa plants are mainly used for garden appreciation. Because of their unique fragrance, large and luxuriant inflorescences, elegant and harmonious colors, and plump and beautiful posture, they have long enjoyed a good reputation in ornamental flowers and trees, and have become indispensable flowers and trees in gardens all over the world.</p>
            <p>Reference: <a href="https://plants.ces.ncsu.edu/plants/syringa-oblata/">plants.ces.ncsu.edu</a></p>
            <img src="../static/image/Sob.png" alt="" style="width: 500px;height: 300px">

            <h4 style="margin-bottom: 20px;" id="Fsu"><b>Forsythia suspensa</b></h4>
            <p style="margin-left: 10px">Forsythia suspensa is a kind of wild vegetable oil. The oil content of Forsythia suspensa seeds is 25% -33%. The seed oil contains gum and has good volatility. It is a good raw material for insulation paint industry and cosmetics, and has great development potential. The oil can be used to manufacture soap and cosmetics, insulation paint and lubricating oil. It is also rich in oleic acid and Linoleic acid that are easily absorbed and digested by the human body. The oil taste is fragrant, and it is a good edible oil after refining.</p>
            <p>Reference: <a href="https://www.gardenia.net/plant/forsythia-suspensa">www.gardenia.net</a></p>
            <img src="../static/image/Fsu.png" alt="" style="width: 500px;height: 300px">

            <h4 style="margin-bottom: 20px;" id="Fex"><b>Fraxinus excelsior</b></h4>
            <p style="margin-left: 10px">Widely used in the production of various types of sports equipment, tool handles that must withstand impact, bats, rackets, hockey sticks, polo sticks, gym equipment, cricket tables, billiards: suitable for making curved parts for canoes, paddles, deck beams and frames for ships. Widely used in the production of cabinets and furniture, chairs, agricultural tools, car body and wheel accessories, artistic car parts, and laminated products.</p>
            <p>Reference: <a href="https://www.rhs.org.uk/plants/7308/fraxinus-excelsior/details">www.rhs.org.uk</a></p>
            <img src="../static/image/Fex.png" alt="" style="width: 500px;height: 300px">

            <h4 style="margin-bottom: 20px;" id="Ofr"><b>Osmanthus fragrans</b></h4>
            <p style="margin-left: 10px">Osmanthus fragrans is both ornamental and edible. It is an excellent evergreen garden tree species that can green, beautify, and fragrance the environment, and an economic tree species that utilizes fragrant flowers. Its economic value, ornamental characteristics, and environmental benefits are unmatched by many flowers and trees.</p>
            <p>Reference: <a href="https://www.missouribotanicalgarden.org/PlantFinder/PlantFinderDetails.aspx?kempercode=a886">PlantFinder</a></p>
            <img src="../static/image/Ofr.png" alt="" style="width: 500px;height: 300px">


        </div>
    </div>



{% endblock %}

