
{% extends 'index.html' %}


{% block body_index %}
    <div class="row">
        <div class="col-12">
            <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">JBrowse2<i></i>
            </h3>

            <iframe style="height: 1100px;width: 100%" src="https://ogrpjbrowse.cgrpoee.top/?config=ogrp_data%2Fconfig.json&session=share-WGd5xTOmiK&password=qoeHP"></iframe>
        </div>
    </div>

{% endblock %}


