{% extends 'index.html' %}



{% block body_index %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;font-size: 24px">Example<i></i></h3>
				<h6 style="text-align: justify;">&nbsp&nbsp  <em>KaKs</em>_Calculator is a nucleotide mutation rate calculator.
                     Upload <em>KaKs</em> source file </h6>

                <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <h6>Example : <a href="../../static/example/kaks_calculator/input.axt">axt</a></h6>
                
            </div>

            <div class="col-lg-8">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;"><em>KaKs</em>_Calculator<i></i>
                </h3>

                <form action="kaks_calculator_run" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="state" class="form-label">Estimate <em>Ka</em> and <em>Ks</em> method</label>
                            <select class="form-control" id="state" name="patten" required>
                                <option value="NG">NG</option>
                                <option value="MA">MA</option>
                                <option value="LWL">LWL</option>
                                <option value="LPB">LPB</option>
                                <option value="MLWL">MLWL</option>
                                <option value="MLPB">MLPB</option>
                                <option value="GY">GY</option>
                                <option value="YN">YN</option>
                                <option value="MYN">MYN</option>
                                <option value="MS">MS</option>
                                <option value="GNG">GNG</option>
                                <option value="GLWL">GLWL</option>
                                <option value="GLPB">GLPB</option>
                                <option value="GMLWL">GMLWL</option>
                                <option value="GMLPB">GMLPB</option>
                                <option value="GYN">GYN</option>
                                <option value="GMYN">GMYN</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="formFile" class="form-label">Upload <em>kaks</em> source file</label>
                            <input class="form-control" type="file" id="formFile" name="kaks" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

{#                        <div class="col-md-12">#}
{#                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>#}
{#                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>#}
{#                            <div class="invalid-feedback">#}
{#                                Please enter a valid email address.#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <hr class="my-4">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                </form>

            </div>
        </div>
    </div>


{% endblock %}

