{% extends 'index.html' %}



{% block body_index %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">Example<i></i></h3>
                <h6 style="text-align: justify;">&nbsp&nbsp  IQ-Tree is a novel tool for constructing evolutionary trees based on maximum likelihood algorithms. Upload matching file, and select alternative models. </h6>

                <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <h6>Example : <a href="../../static/example/iqtree2/AT.phylip">phylip</a></h6>
				<!-- <h6>Input file : <a href="../../static/example/148.contree.nwk" target="_blank">nwk</a> </h6> -->
                <!-- <img style="width: 100%" src="../../static/image/example_tree_nwk.png" alt=""> -->

                <!-- <p style="text-align: left;"></p> -->
                <!-- <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div> -->

            </div>

            <div class="col-lg-8">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">IQ-Tree<i></i>
                </h3>

                <form action="iq_tree_run" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">

                        <div class="col-sm-12">
                            <label for="formFile" class="form-label">Upload matching file</label>
                            <input class="form-control" type="file" id="formFile" name="file" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="state" class="form-label">Alternative model</label>
                            <select class="form-control" id="state" name="patten" required>
                                <option value="MFP">MFP</option>
                                <option value="TIM2+I+G">TIM2+I+G</option>
                                <option value="MF">MF</option>
                                <option value="MFP+ASC">MFP+ASC</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Fast BS value</label>
                            <input type="text" class="form-control" id="firstName" name="bs_num" value="1000" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

{#                        <div class="col-md-12">#}
{#                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>#}
{#                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>#}
{#                            <div class="invalid-feedback">#}
{#                                Please enter a valid email address.#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <hr class="my-4">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                </form>

                <div style="height: 10px;" > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <!-- <img style="width: 100%" src="../../static/image/example_gene_tree.png" alt=""> -->

            </div>
        </div>
    </div>


{% endblock %}

