{% extends 'index.html' %}



{% block body_index %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">Example<i></i></h3>
                <h6 style="text-align: justify;">&nbsp&nbsp MEME is a tool for predicting and displaying conservative sequence regions (motifs), based on the maximum expected value (EM) algorithm to identify and analyze motifs. Upload the target database in FASTA format. </h6>

                <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <h6>Example : <a href="../../static/example/meme/mt_last.fasta">fasta</a></h6>
				<!-- <h6>Input file : <a href="../../static/example/AOS.pep" target="_blank">pep</a> </h6> -->
                <!-- <img style="width: 100%" src="../../static/image/example_aos_pep.png" alt=""> -->

                <!-- <p style="text-align: left;"></p> -->
                <!-- <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div> -->

            </div>

            <div class="col-lg-8">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">MEME<i></i>
                </h3>

                <form action="meme_suit_run" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="formFile" class="form-label">Upload the target database in FASTA format</label>
                            <input class="form-control" type="file" id="formFile" name="file1" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="state" class="form-label">The upload sequence selection</label>
                            <select class="form-control" id="state" name="patten" required>
                                <option value="protein">Protein</option>
                                <option value="dNA">DNA</option>
                                <option value="rNA">RNA</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="state" class="form-label">Assumed motif distribution pattern selection</label>
                            <select class="form-control" id="state" name="motif" required>
                                <option value="zoops">zoops</option>
                                <option value="oops">oops</option>
                                <option value="anr">anr</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="firstName" class="form-label">The number of motifs</label>
                            <input type="text" class="form-control" id="firstName" name="motif_num" value="3" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="lastName" class="form-label">The minimum width of motif</label>
                            <input type="text" class="form-control" id="lastName" name="minw" value="2" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="lastName" class="form-label">The maximum width of motif</label>
                            <input type="text" class="form-control" id="lastName" name="maxw" value="10" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

{#                        <div class="col-md-12">#}
{#                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>#}
{#                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>#}
{#                            <div class="invalid-feedback">#}
{#                                Please enter a valid email address.#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <hr class="my-4">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                </form>

                <div style="height: 10px;" > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <!-- <img style="width: 100%" src="../../static/image/AOS_meme-motif-locations.svg" alt=""> -->

            </div>
        </div>
    </div>


{% endblock %}

