{% extends 'index.html' %}



{% block body_index %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;font-size: 24px">Example<i></i></h3>
				<h6 style="text-align: justify;">&nbsp&nbsp  ParaAT is a nucleotide mutation rate calculator.
                Select the format for saving the result file, upload homologs file, cds file and pep file. </h6>

                <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <h6>Example : <a href="../../static/example/paraAT/test.homologs">homologs</a>&nbsp&nbsp<a href="../../static/example/paraAT/test.cds">cds</a>&nbsp&nbsp<a href="../../static/example/paraAT/test.pep">pep</a></h6>
                
            </div>

            <div class="col-lg-8">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">ParaAT<i></i>
                </h3>

                <form action="paraat_run" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label for="state" class="form-label">The result file is saved as format</label>
                            <select class="form-control" id="state" name="patten" required>
                                <option value="axt">axt</option>
                                <option value="fasta">fasta</option>
                                <option value="paml">paml</option>
                                <option value="codon">codon</option>
                                <option value="clustal">clustal</option>
                                <option value="optional">optional</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="formFile" class="form-label">Upload homologs file</label>
                            <input class="form-control" type="file" id="formFile" name="homologs" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="formFile" class="form-label">Upload cds file</label>
                            <input class="form-control" type="file" id="formFile" name="cds" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="formFile" class="form-label">Upload pep file</label>
                            <input class="form-control" type="file" id="formFile" name="pep" required>
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

{#                        <div class="col-md-12">#}
{#                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>#}
{#                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>#}
{#                            <div class="invalid-feedback">#}
{#                                Please enter a valid email address.#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <hr class="my-4">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                </form>

            </div>
        </div>
    </div>


{% endblock %}

