{% extends 'index.html' %}



{% block body_index %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">Example<i></i></h3>
				<h6 style="text-align: justify;">&nbsp&nbsp  Phyml is a tool for constructing phylogenetic trees based on the principle of maximum likelihood. Upload the comparison file in aln format. </h6>

                <div > <hr style="border: 1px dashed #000; width: 100%;height: 1px; margin: 8px"/></div>

                <h6>Example : <a href="../../static/example/phyml/cytb.phylip">phylip</a></h6>
                
            </div>
            <div class="col-lg-8">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">Phyml<i></i>
                </h3>

                <form action="phyml_run" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">

                        <div class="col-sm-12">
                            <label for="formFile" class="form-label">Upload the comparison file in aln format</label>
                            <input class="form-control" type="file" id="formFile" name="file" required="">
                            <div class="invalid-feedback">
                                File not uploaded
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">type of data</label>
                            <select class="form-control" id="state" name="patten" required="">
                                <option value="Jaa">aa</option>
                                <option value="nt">nt</option>
                                <option value="generic">generic</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-8">
                            <label for="state" class="form-label col-md-12">Model selection</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="btn-default choice form-control" name="patten" id="model" required="">
                                        <option value="nt">Nucleic Acid</option>
                                        <option value="aa">protein</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="col-md-12 btn-default form-control" name="small" id="list">
                                        <option value="HKY85">HKY85</option>
                                        <option value="JC69">JC69</option>
                                        <option value="K80">K80</option>
                                        <option value="F81">F81</option>
                                        <option value="TN93">TN93</option>
                                        <option value="GTR">GTR</option>
                                    </select>
                                </div>
                            </div>

					    </div>

                        <div class="col-md-6">
                            <label for="state" class="form-label">Set frequency calculation</label>
                            <select class="form-control" id="state" name="frequency" required="">
                                <option value="e">e</option>
                                <option value="m">m</option>
                                <option value="fa">fa</option>
                                <option value="fC">fC</option>
                                <option value="fG">fG</option>
                                <option value="fT">fT</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="state" class="form-label">Set frequency calculation</label>
                            <select class="form-control" id="state" name="nice" required="">
                                <option value="tlr">tlr</option>
                                <option value="t">t</option>
                                <option value="l">l</option>
                                <option value="r">r</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="firstName" class="form-label">Set bootstrap times</label>
                            <input type="text" class="form-control" id="firstName" name="num" value="500" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>


{#                        <div class="col-md-12">#}
{#                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>#}
{#                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required="">#}
{#                            <div class="invalid-feedback">#}
{#                                Please enter a valid email address.#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <hr class="my-4">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                </form>

            </div>
        </div>
    </div>


{% endblock %}

