{% extends 'index.html' %}



{% block body_index %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">WGDI<i></i>
                </h3>

                <ul class="list-group mb-3">
                    <a href="{% url 'wgdi_dotplot_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div class="text-success">
                                    <h6 class="my-0">WGDI dotplot</h6>
                                <small>Homologous structure mapping</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'wgdimcs_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div class="text-success">
                                    <h6 class="my-0">WGDI Syntenic</h6>
                                <small>WGDI covariance matching function</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'wgdikaks_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div class="text-success">
                                    <h6 class="my-0">WGDI kaks</h6>
                                <small>WGDI kaks calculation</small>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'wgdikaks_dot_url' %}">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div class="text-success">
                                    <h6 class="my-0">WGDI kaks dot</h6>
                                <small>WGDI ks dotplot mapping</small>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>

            <div class="col-lg-8">
                <h3 class="h3_1 h3_6" style="background-image:url(../../static/image/ico.png); font-family:'Arial',sans-serif;color:black;">WGDI_dotplot<i></i>
                </h3>

                <form action="dotplot_run" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <label for="exampleInputFile">Upload BLAST file:</label>
                            <input class="form-control" type="file" id="formFile" name="blast" required>
                        </div>

                        <div class="col-md-6">
                            <label>Species 1 lens file:</label>
                            <input class="form-control" type="file" id="formFile" name="heng_len" required>
                        </div>

                        <div class="col-md-6">
                            <label>Species 2 lens file:</label>
                            <input class="form-control" type="file" id="formFile" name="shu_len" required>
                        </div>

                        <div class="col-md-6">
                            <label>Species 1 gff file:</label>
                            <input class="form-control" type="file" id="formFile" name="heng_gff" required>
                        </div>

                        <div class="col-md-6">
                            <label>Species 2 gff file:</label>
                            <input class="form-control" type="file" id="formFile" name="shu_gff" required>
                        </div>

                        <div class="col-md-6">
                            <label>Input evalue value:</label>
                            <input type="text" class="form-control" name="evalue" value="1e-5" required>
                        </div>

                        <div class="col-md-6">
                            <label>Input the score values:</label>
                            <input type="text" class="form-control" name="score" value="100" required>
                        </div>

                        <div class="col-md-6">
                            <label>Species 1 Name:</label>
                            <input type="text" class="form-control" name="heng_species" value="AT" required>
                        </div>

                        <div class="col-md-6">
                            <label>Species 2 Name:</label>
                            <input type="text" class="form-control" name="shu_species" value="AT" required>
                        </div>

                        <div class="col-md-12">
                            <label>Save the image format:</label>
                            <select class="form-control" id="state" name="patten" required>
                                <option value="png">png</option>
                                <option value="pdf">pdf</option>
                                <option value="svg">svg</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <input class="w-100 btn btn-primary btn-lg" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

